In [1]:
import pandas as pd
import sqlite3

In [20]:
df=pd.read_csv('stocks.csv')

In [ ]:
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


create_connection("pythonsqlite.db")

In [2]:
conn = sqlite3.connect("pythonsqlite.db")
cursor = conn.cursor()

In [4]:
from pandas import read_sql_query as sql

In [102]:
pd.read_sql_query("SELECT * from stocks LIMIT 3;", conn, index_col="index")

,Unnamed: 0,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
index,,,,,,,,,,,,,,,,,,,,,
0,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,1,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,1,0,0,2021-06-15 20:19:35
1,2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,1,...,None,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,0,0,0,2021-06-15 20:19:35
2,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,1,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,None,1,0,0,2021-06-15 20:19:35

In [31]:
sql("SELECT * from stocks LIMIT 3;", conn)

,index,Unnamed: 0,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,0,1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,1,0,0,2021-06-15 20:19:35
1,1,2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,...,None,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,0,0,0,2021-06-15 20:19:35
2,2,3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,None,1,0,0,2021-06-15 20:19:35

In [55]:
sql(" SELECT AVG(Rating) FROM stocks where Category = 'Communication'   ;", conn)

   AVG(Rating)
0     2.122591

In [45]:
sql("select Count(distinct(Category)) from stocks", conn)

   Count(distinct(Category))
0                         20

In [52]:
sql("select Avg([Rating Count]) from stocks", conn)

   Avg([Rating Count])
0          2091.652025

In [54]:
sql("select Count([App Name]) from stocks where [Rating Count]> 2091", conn)

   Count([App Name])
0              53631

In [57]:
sql("select Avg(Rating) from stocks where Category='Communication' ", conn)

   Avg(Rating)
0     2.122591

In [5]:
sql("select [app Name],[Developer Email] from stocks where category = 'Tools' and Rating=5 and [Maximum Installs]> 100000", conn)

,App Name,Developer Email
0,Secret Codes,molu.mehmet@gmail.com
1,Voice Search Speak To Search : Write SMS By Voice,awesomecreativesecureapps@gmail.com
2,الهاتف الذاكر يعمل تلقائيا,egytop346@gmail.com
3,Construction Estimator Calculator,alfadroid81@gmail.com
4,Construction Estimator,alfadroid81@gmail.com
5,QR Code Scanner & Barcode Scanner,dailyusdata@gmail.com
6,Japan train card balance check,cardreader@digital-equality.co.jp
7,SmSimApp Anti Theft,info@smsimapp.com
8,Set Contact Photo Dialer & Contacts Phone Book,divyesh3215@gmail.com
9,All Video Downloader 2021: VidMe Browser,tricksol007@gmail.com
10,Video Downloader For All-Tube video Downloader HD,timimalik56@gmail.com
11,Don't touch my cell phone - Anti-Theft Security,softmaticsoft@gmail.com
12,"CQuanCleaner-Phone Cleaner,Booster,Protect Pri...",ShenlinTang@gmail.com

In [14]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

     name
0  stocks

In [13]:
pd.read_sql_query("PRAGMA table_info('stocks');", conn)

    cid               name     type  notnull dflt_value  pk
0     0              index  INTEGER        0       None   0
1     1         Unnamed: 0  INTEGER        0       None   0
2     2           App Name     TEXT        0       None   0
3     3             App Id     TEXT        0       None   0
4     4           Category     TEXT        0       None   0
5     5             Rating     REAL        0       None   0
6     6       Rating Count     REAL        0       None   0
7     7           Installs     TEXT        0       None   0
8     8   Minimum Installs     REAL        0       None   0
9     9   Maximum Installs  INTEGER        0       None   0
10   10               Free  INTEGER        0       None   0
11   11              Price     REAL        0       None   0
12   12           Currency     TEXT        0       None   0
13   13               Size     TEXT        0       None   0
14   14    Minimum Android     TEXT        0       None   0
15   15       Developer Id     TEXT        0       None   0
16   16  Developer Website     TEXT        0       None   0
17   17    Developer Email     TEXT        0       None   0
18   18           Released     TEXT        0       None   0
19   19       Last Updated     TEXT        0       None   0
20   20     Content Rating     TEXT        0       None   0
21   21     Privacy Policy     TEXT        0       None   0
22   22       Ad Supported  INTEGER        0       None   0
23   23   In App Purchases  INTEGER        0       None   0
24   24     Editors Choice  INTEGER        0       None   0
25   25       Scraped Time     TEXT        0       None   0